* {
    margin: 0px;
    padding: 0px;
}
.logo_bebra{
    width: 100px;
    height: 100px;
    float: left;
}
header {
    height: 100px;
    width: 100%;
    background: #54B435;
    padding: 10px;
    border-bottom: 3px black solid;
}
body {
    background: #F0FF42;
}
.shapka {
    margin: 0 auto;
    max-width: 1000px;
    background: #54B435;
}
nav {
    float: right;
    color: black;  
}
nav li {
    padding: 3.5% 0;
    font-size: 40px;
    margin: 0 40px;
    display: inline-block;
    transition: 0.3s;
}
nav li:hover {
    color: #F0FF42;
    cursor: pointer;
}
.btn_singup{
    color: black;
    background-color: #82CD47;
    border-radius: 10px;
}
main{
    width: auto;
}
.main_content{
    max-width: 70%;
    width: 65%;
    background-color: #F0FF42;
    float: left;
    border: 1px solid black;
    padding: 20px;
}
.sitebar{
    max-width: 32.1%;
    width: 32.1%;
    background-color: #379237;
    float: right;
    border: 1px solid black;
}

.img_minekraft{
    height: 200px;
    width: 100px;
}
.img_main .img_minekraft{
    float: right;   
    margin: 10% 0 ;
    border: 1px solid black;
    max-width: 15%;
}   

.tekst{
    float: left;
    margin: 0 10px;
    width:80%;
    height: 80%;
    text-align: center;
    border: 1px solid black;
}
